// Import all partials
// @require './_*.styl'

body
  font-family 'Lato', serif
  padding 25px

.remove-item, .edit-item
  font-size 12px
  margin-left 5px
  border 1px solid #a9a9a9
  border-radius 25px
  padding 2px 5px

p
  font-family 'Raleway', serif;

ul.todo
  .strike
    text-decoration line-through

ul.tabs-labels, .tabs-content
  box-sizing border-box

ul.tabs-labels
  float left
  list-style none
  margin 0
  width 20%

  li
    background #ddd
    border-bottom 1px solid #eee
    padding 10px 5px

.tabs-content
  float right
  padding 20px
  width 80%
